/*Cores
verde principal:#2de558 
verde texto: #716b70
*/
body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; color:#716b70;}

section{
    padding: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;}

header.masthead {
  position: relative;
  background-color: #343a40;
  background: url("../img/imagem1.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem; }
  header.masthead .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3; }
  header.masthead h1 {
    font-size: 2rem; }
  @media (min-width: 768px) {
    header.masthead {
      padding-top: 12rem;
      padding-bottom: 12rem; }
      header.masthead h1 {
        font-size: 3rem; } }


.showcase img{
    width:100%;
}

.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem; }
  .features-icons .features-icons-item {
    max-width: 20rem; }
    .features-icons .features-icons-item .features-icons-icon {
      height: 7rem; }
      .features-icons .features-icons-item .features-icons-icon i {
        font-size: 4.5rem; }
    .features-icons .features-icons-item:hover .features-icons-icon i {
      font-size: 5rem; }

.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem; }
  .testimonials .testimonial-item {
    max-width: 18rem; }
    .testimonials .testimonial-item img {
      max-width: 12rem;
      box-shadow: 0px 5px 5px 0px #adb5bd; }

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.btn{
    background:#2de558;
    border:#44a244;
    transition:0.3s;
    text-transform: uppercase;
    padding: 10px 40px;
}

.btn:hover{
    background:#2de558;
    color:#358435;
    cursor:pointer;
}

.display{
    display:none;
}

.fa{
    color:#2de558;
}

.mb-5{
    margin-bottom:0 !important;
}

.my-auto{
    margin:0;
}

hr{
    background:#909090;
}

/* Naevgação */
.navbar-toggler{
    border:none !important;
    cursor:pointer;
}

#navbar-toggler{
    display:none;
}

nav{
    border-bottom:3px solid silver;
    position:fixed !important;
    z-index:1;
    width:100%;
    background:white !important;
}

nav img{
    width:200px;
}

nav ul{
    display:flex;
    list-style:none;
    text-transform: uppercase;
    margin:0;
    display:none;
}

nav ul li a{
    color:rgba(0,0,0,.5);
}

nav ul li a:hover{
    color:#2de558;
}

nav .dropdown-item:hover{
    color:white;
    background:#2de558;
}

.navbar-nav{
    text-align:center;
    margin-top:1rem;
}

.navbar-nav a{
    color:rgba(0,0,0,.5) !important;
}

.navbar-nav a:hover{
    color:white !important;
    background-color:#2de558;
}

.navbar-nav .dropdown-menu{
    text-align:center;
}

nav > .btn{
    display:none;
}

/*MASTER HEAD*/

.masthead{
    text-transform:uppercase;
}

.masthead h1, .masthead h3{
    text-shadow: 1px 1px 10px black;
    word-spacing:5px;
}

.masthead h3{
    font-weight:normal;
    font-size:1.3rem;
    margin-bottom:1rem;
}

/* Painel central */

.painel-center{
    background-color:#2de558;
    padding:2.5rem 0;
    color:white;
}

.flex{
    display:flex;
    justify-content:center;
}

.painel-inner{
    margin:1.5rem 0;
    display:none;
    margin:0 auto
}

.painel-inner .row{
    margin:1rem 0;
}

.painel-inner h2, .painel-inner h3{
    margin:0;
    text-transform: uppercase;
    text-shadow:1px 1px 10px black;
}

.painel-inner h3, .painel-inner span{
    font-size:1.2rem;
}

.painel-inner h3{
    font-weight:600;
}

.painel-inner span{
    font-weight:100;
    text-transform:uppercase;
    line-height:0;
}

.painel-inner:nth-child(1) img{
    width:250px;
    display:block;
    margin:0 auto;
    border-radius:5px;
}

.painel-inner:nth-child(2) p, .painel-inner:nth-child(3) p{
    font-size:2rem;
    text-transform:uppercase;
    text-shadow:1px 1px 10px black;
    font-weight:100;
}

.painel-inner:nth-child(2) p strong, .painel-inner:nth-child(3) p strong{
    font-weight:600;
}

.painel-inner:nth-child(2) p{
    margin:1rem;
}

.painel-inner:nth-child(2) img{
    border-radius:2px;
    width:100%;
    margin:1rem;
}

.painel-inner:nth-child(3) p{
    margin:0 10rem;
    text-align:center;
    line-height:normal;
    text-transform:uppercase;
    font-size:1.4rem;
}

.painel-inner:nth-child(3) img{
    width:100%;
    display:block;
    margin:0 auto;
    position:relative;
}
.painel-inner:nth-child(3) .row{
    justify-content: center;
}

.painel-inner:nth-child(3) .overlayer{
    text-align:center;
    padding:1rem;
    font-size:1.2rem;
    text-transform: uppercase;
    background-color:rgba(0,0,0,0.3);
}


.painel-inner p{
    font-weight:normal;
    font-size:0.7rem;
}

.painel-inner .col-md-2,.painel-inner .col-md-3{
    padding:0;
}

.painel-button-active{
    background:#2de558 !important;
    transition:0.2s;
}

.painel-button-active:hover{
    cursor:pointer;
    color:#358435;
}

.painel-buttons{
    display:flex;
    justify-content:center;
    align-items:center;
}

.painel-buttons div{
    background:silver;
    margin:0 1rem;
    padding:1rem;
    color:white;
    transition:0.2s;
}

.painel-buttons div:hover{
    background:#2de558;
    color:#358435;
    cursor:pointer;
}


.painel-buttons div p{
    margin:0;
}

.painel-button p{
    text-transform: uppercase;
}


/* Menu lateral */
.menu{
    background:#322B2B;
    position:absolute;
    right:0;
    top:0;
    width:400px;
    padding:2rem;
    overflow:scroll;
    height:100vh;
    display:none;
}

.menu hr{
    background-color:white;
}

.menu p{
    color:white;
    margin: 1rem 0;
    text-transform: uppercase;
    text-align:right;
}

.menu a{
    color:#57bb57;
    
}

.menu .fa{
    font-size:2rem;
    margin-bottom:1rem;
    cursor:pointer;
    color:white;  
}

.menu .fa:hover{
    color:#57bb57;
}

.menu img{
    width:100%;
}

.menu h4{
    color:white;
    font-weight:lighter;
    font-size:0.9rem;
    margin-top:2rem;
    text-align:right;
}

.menu h2{
    color:white;
    font-size:1.5rem;
    font-weight:100;
    text-align:right;
}

.menu ul{
    list-style: none;
    margin:1rem 0;
    padding:0;
    text-align:right;
    clear:both;
    flex-direction: column;
}

.menu ul li a{
    color:#57bb57;
    padding:1rem;
    display:block;
}

.menu ul li{
    margin:0;
    text-align:center;
}

.menu ul li span{
    float:left;
}

.menu .flex i{
    margin:1rem;
}

.menu form input{
    display:block;
    text-align:center;
    width:100%;
    margin:1rem 0;
    padding:0.5rem;
    border-top:none;
    border-left:none;
    border-right:none;
    background:none;
    color:white;
}

.menu .flex{
    flex-direction: row;
}

/* Showcase Text */

.showcase{
    padding:3rem 0;
}

.showcase .btn{
    margin-top:3rem;
}

.showcase .row{
    margin:4rem;
}

.showcase p{
    font-size:2.5rem;
    text-transform:uppercase;
    line-height:40px;
    font-weight:lighter;
    text-shadow:1px 1px 1px black; ;
}

.showcase p span{
    font-weight:900;
}

/*FAÇA PARTE*/

.faca-parte{
    padding:1rem;
    background-color:#deefde;
}

.faca-parte img{
    width:100%;
    height:50%;
    border-radius:10px;
}

.faca-parte .row{
    margin:1rem 0;
}

.faca-parte button{
    display:block;
    margin:1rem auto;
}

.faca-parte h2{
    text-align:center;
    margin:3rem;
    text-transform:uppercase;
}

/* PARCEIROS */

.parceiros img{
    width:100%;
    transition:0.2s;
    border:1px solid grey;
}

.parceiros img:hover{
    opacity:0.7;
}

.parceiros h2{
    text-shadow:1px 1px 10px silver;
    text-transform:uppercase;
    text-align:center;
    margin: 2rem 0;
}

.parceiros button{
    display:block;
    margin: 1rem auto;
}

/*FOOTER*/

.footer{
    background:#322B2B;
    color:white;
}

.footer .form-row div input{
    display:inline;
}

.footer form input{
    float:left;
    padding:0.7rem;
    height:48px;
}

.footer button{
    background:white;
    border:1px solid black;
    border-radius:0px;
    height:48px;
}

.footer button:hover{
    background:none;
    border-color:#716b70;
}

.footer .row{
    margin: 2rem 0;
}

.footer a,.footer .fa{
    color:#716b70;
}

.footer a:hover,.footer .fa:hover{
    color:#2de558;
}

@media screen and (max-width:342px) {
    .painel-button{
        font-size:0.7rem;
    }
}

@media screen and (max-width:435px) {
    .showcase p{
        font-size:1.2rem;
    }
    
    .showcase .row{
        margin:2rem 0;
    }
    
    .painel-center p{
        font-size:1rem !important;
        margin:0 !important;
    }
    
    .faca-parte h2{
        margin:0;
    }
}

@media screen and (min-width:804px) {
    nav ul{
        display:flex;
    }
    
    .navbar-toggler{
        display:none;
    }
    
    #navbar-toggler{
        display:block;
    }
    
    nav > .btn{
        display:block;
    }

}

@media screen and (min-width:960px) {
    nav{
        padding:0 3rem !important;
    }
}

@media screen and (max-width:286px) {
    nav img{
        width:190px;
    }
}

@media screen and (max-width:768px) {
    .showcase .btn{
        display:block;
        margin:2rem auto;
        width:200px;
    }
    
    .showcase-video iframe{
        width:100%;
        height:400px;
    }
    
    body{
        text-align:Center;
    }
    
    .painel-center .row div{
        margin: 1rem 0;
    }
    
    .painel-center img{
        width:100% !important;
        margin:0 !important;
    }
    
}

@media screen and (max-width:991px) {
   
    
}

@media screen and (max-width:1040px) {
    footer form input{
        float:none !important;
        display:block;
        text-align:Center;
        margin:1rem auto;
    }
    
    footer .btn{
        display:block;
        margin: 0 auto;
    }
    
    footer form{
        margin:0 auto;
    }
    
    footer h2{
        text-align:Center;
    }
    
    
}

@media screen and (max-width:1200px) {
    .painel-1 .row{
        flex-direction: column;
    }
    
    .painel-1 {
        text-align:center !important;
    }
    
    .painel-1 img{
        width:100% !important;
    }
    
    .painel-1 .col-md-2,.painel-1 .col-md-3{
        max-width:100%;
    }
}
