/* GERAL */
header.masthead {
    background: url("../img/parceiros.jpg") no-repeat center center;

}

.masthead h3{
    text-shadow:1px 1px 5px black;
}

.masthead span{
    font-weight:bolder;
}

.showcase .text p{
    font-size:1rem;
    font-weight:lighter;
    text-shadow:none;
}

/*PARCEIRO*/

.parceiro{
    background:#2de558;
    color:white;
    padding:1.5rem;
}

.parceiro h2{
    text-align:center;
    text-transform: uppercase;
    font-size:1.9rem;
    font-weight:bolder;
    text-shadow:1px 1px 10px black;
}

.parceiro h3{
    font-weight:lighter;
    text-align:center;
    text-transform: uppercase;
    text-shadow:1px 1px 10px black;
}

.parceiro .row{
    padding:1rem;
}

.parceiro .row h3{
    font-weight:bold;
    text-align:left;
}

.parceiro hr{
    background:white;
}

.parceiro p{
    font-weight:lighter;
    line-height:30px;
}

.parceiro img{
    width:100%;
}

/*PARCEIROS*/

.parceiros h2{
    margin:0;
    padding-top:3rem;
}

.parceiros h3{
    font-weight:lighter;
    text-align:center;
}

/*RESPONSIVIDADE*/
@media screen and (max-width:435px) {
    .showcase h2{
        margin-top:2rem;
    }
}